.error {
  color: var(--danger);
  font-size: var(--font-xs);
  line-height: 16px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  border: 1px solid var(--surface-200);
  border-radius: var(--radius-sm);
  max-width: 350px;
}

.inputRow:focus-within {
  border-color: var(--primary-200);
}

.colon {
  display: grid;
  place-content: center;
  height: 100%;
  width: 2px;
  height: 36px;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  background-color: var(--surface-100);
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 22px;
  white-space: nowrap;
  border-radius: var(--radius-sm);
}

.tag span {
  font-size: var(--font-xs);
  line-height: 16px;
  font-weight: 450;
  color: var(--text-normal);
}
.tag button {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
}
.tag button:hover {
  background-color: var(--surface-200);
}

.label {
  color: var(--text-normal);
  font-weight: 500;
  font-size: var(--font-xs);
  line-height: 16px;
}
.inputContainer {
  display: grid;
  gap: 4px;
}
