.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text-normal);
  font-weight: 500;
  font-size: var(--font-xs);
  line-height: 16px;
}

.textareaWrapper {
  border: 1px solid var(--surface-200);
  border-radius: var(--radius-sm);
}

.textarea {
  height: 100%;
  width: 100%;
  border: none;
  padding: 8px 12px;
  font-size: var(--font-sm);
  color: var(--text-normal);
  border-radius: var(--radius-sm);
}

.textarea:focus {
  outline: none;
}
.textareaWrapper:focus-within {
  border-color: var(--primary-200);
}

.textarea::placeholder {
  color: var(--text-50);
}
