.serviceInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.serviceItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.additionalSettings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  color: #555;
}

.container {
  min-height: 450px;
}
